<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target xsi:type="File" name="salesLog" fileName="Logs/sales.log">
      <layout xsi:type="JsonLayout">
        <attribute name="Time" layout="${longdate}" />
        <attribute name="Sale" layout="${message}" />
      </layout>
    </target>
    <target xsi:type="File" name="paymentsLog" fileName="Logs/payments.log">
      <layout xsi:type="JsonLayout">
        <attribute name="Time" layout="${longdate}" />
        <attribute name="Action" layout="${message}" />
      </layout>
    </target>
    <target xsi:type="File" name="inventoryLog" fileName="Logs/inventory.log">
      <layout xsi:type="JsonLayout">
        <attribute name="Time" layout="${longdate}" />
        <attribute name="Action" layout="${message}" />
      </layout>
    </target>
    <target xsi:type="File" name="peopleLog" fileName="Logs/people.log">
      <layout xsi:type="JsonLayout">
        <attribute name="Time" layout="${longdate}" />
        <attribute name="Action" layout="${message}" />
      </layout>
    </target>
    <target xsi:type="File" name="errorsLog" fileName="Logs/errors.log" />
  </targets>

  <rules>
    <logger name="salesLogger" level="Info" writeTo="salesLog" />
    <logger name="paymentsLogger" level="Info" writeTo="paymentsLog" />
    <logger name="errorsLogger" level="Error" writeTo="errorsLog" />
    <logger name="inventoryLogger" level="Info" writeTo="inventoryLog" />
    <logger name="peopleLogger" level="Info" writeTo="peopleLog" />
  </rules>
</nlog>